@using Bakery.Models;

@{
  Layout = "_layout";
}

<h1>Open Orders</h1>

@if (@Model.Count == 0)
{
  <h3>There are no open orders</h3>
}

@foreach (Order order in Model)
{
  <div>
    <li><a href='/orders/@order.Id'>@order.Title</a></li>
    <li>@order.Title</li>
    <li>@order.Description</li>
    <li>@order.Price</li>
    <li>@order.Id</li>
  </div>
}

<a href='/orders/new'><button class="btn btn-success">Place an Order</button></a>

<form action="/orders/delete" method="post">
  <button type="submit" class="btn btn-danger">Delete All Orders</button>
</form>